# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
copybolt/.DS_Store
copybolt/.idea/copybolt.iml
copybolt/.idea/misc.xml
copybolt/.idea/modules.xml
copybolt/.idea/workspace.xml
copybolt/deploy/.DS_Store
copybolt/deploy/darwin/.DS_Store
.DS_Store
copybolt/deploy/*

copybolt/.boltcopyconf
